
<link href="~/scripts/_account/register.css" rel="stylesheet" />
<script src="~/scripts/_account/register.js"></script>


<div class="login-content">
    <h1>DCS Admin Portal</h1>
    <p>
        For security reasons, please log out and close your web browser when you are done accessing services that require authentication.

        We recommend using chrome as your browser.
    </p>
    <form action="javascript:;" class="register-form" method="post">
        
        <div class="row">
            <div class="col-xs-12">
                <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Firstname" name="name" id="name" required/>
                <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Lastname" name="surname" id="surname" required/>
                <input class="form-control form-control-solid placeholder-no-fix form-group" type="email" autocomplete="off" placeholder="Email" name="email" id="email" required/>
                <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Password" name="password" id="password" required/>
                <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Re-Password" name="rpassword" id="rpassword" required/>

            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="rem-password">
                    <div class="forgot-password">
                        <a href="/" class="forget-password">Sign in to account.</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 text-right">
                @*<div class="forgot-password">
                        <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                    </div>*@
                <button class="btn green" type="submit">Submit</button>
            </div>
        </div>
    </form>
    <!-- BEGIN FORGOT PASSWORD FORM -->
    @*<form class="forget-form" action="javascript:;" method="post">
            <h3 class="font-green">Forgot Password ?</h3>
            <p> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Email" name="email" />
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>*@
    <!-- END FORGOT PASSWORD FORM -->
</div>
<style>
     .user-login-5 .login-container>.login-content {
    margin-top: 9%;
}
</style>
